@import "bootstrap-sprockets";
@import "bootstrap";

.wrapper {
	margin-top: 120px;
}

header {
	height: 80px;
	padding: 20px 0 0 0;

	a#logo:link,
	a#logo:visited {
		color: #FFF;
		float: left;
		font-size: 3rem;
		text-decoration: none;

		&:hover,
		&:active {
			color: #efefef;
		}
	}
}

h1 {
	margin-bottom: 30px;
}

h2 {
	margin-top: 0;
}

ol {
	li {
		margin-bottom: 10px;
	}
}